html {
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;

  @font-face {
    font-family: breakingBad;
    src: url(./assets/breakingBad.otf);
  }

  .element-container {
    background: darkgreen;
    display: inline-block;
    width: 62px;
    height: 60px;
    margin-right: 0.3rem;
    line-height: 66px;
  }

  section {
    margin: auto;
    margin-right: 18rem;
  }

  p {
    font-family: sans-serif;
  }

  .dice-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &.dealer-styling {
      display: flex;
      flex-direction: column;
    }

    .dealer-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      img {
        width: 20%;
      }
    }

    &:first-of-type {
      margin-bottom: 7rem;
    }

    h3 {
      margin: 0;
    }
  }
}
